<div class="sidebar">
    <a href="/" class="profile-link" id="profile-link">
        <img src="assets/profile.jpeg" alt="Sujay Shahare" class="profile-pic">
    </a>
    <nav class="sidebar-nav">
        <a href="/" id="nav-about">About</a>
        <a href="/readings.html" id="nav-readings">Readings</a>
        <a href="/bookmarks.html" id="nav-bookmarks">Bookmarks</a>
        <a href="/misc.html" id="nav-more">Misc</a>
    </nav>
</div>


<!--
                                    \
                                    `\,/
                                    .-'-.
                                   '     `
                                   `.   .'
                            `._  .-~     ~-.   _,'
                             ( )'           '.( )
               `._    _       /               .'
                ( )--' `-.  .'                 ;
           .    .'        '.;                  ()
            `.-.`           '                 .'
  ----*-----;                                .'
            .`-'.           ,                `.
           '    '.        .';                  ()
                (_)-   .-'  `.                 ;
               ,'   `-'       \               `.
                             (_).           .'(_)
                            .'   '-._   _.-'    `.
                                   .'   `.
                                   '     ;              
                                    `-,-'
                                     /`\
                                   /`
-->